$f-blue:#556BF4;
$f-black:#141414;
$f-white:#fff;

$s-purple:#F4F5FD;
$s-dark-grey:#868686;
$s-light-grey:#AEAEAE;

$t-red:#FF2D55;
$t-green:#439F6E;

$bg-purple:#E5E8FF;
$bg-white:#FFFFFF;
$bg-light-purple:#F9F9FF;
